/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #476ee2;
    color: #333;
    overflow-x: hidden;
    ;
}

/* ====== NAVBAR ====== */
.navbar {
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #d8b61d;
}

.menu {
    list-style: none;
    display: flex;
    gap: 24px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #2979f1;
}

/* ====== HERO ====== */
.hero {
    width: 100%;
    height: 40vh;
    background: url('banner.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    margin-bottom: 600px;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 700;
}

.hero-content p {
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.9;
}

.banner{
    width: 100%;
    margin-top: 590px;
    box-shadow: 0 10px 14px rgba(0,0,0,0.15);
}

/* ====== CONTENT ====== */
.content {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px 40px;
}

.content h2 {
    margin-top: 30px;
    color: #fcf836;
    font-size: 30px;
}

.content p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.8;
    color: aliceblue;
}

/* ====== CARDS ====== */
.help-cards {
    display: flex;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.help-card {
    width: 300px;
    background: rgb(2, 49, 104);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
}

.help-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.help-card img {
    width: 250px;         /* controla o tamanho */
    height: auto;         /* mantém proporção */
    margin-bottom: 15px;  /* separa do texto */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.help-card h3 {
    font-size: 22px;
    color: #c9a403;
    margin-bottom: 8px;
}

/* ====== BUTTON ====== */
.btn-voltar {
    display: inline-block;
    background: #c9a403;
    color: white;
    padding: 14px 26px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;

}

.btn-voltar:hover {
    background: #ee8906;
    transform: scale(1.05);
}

/* ====== FOOTER ====== */
.footer {
    background: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .hero-content h2 { font-size: 32px; }
    .help-cards { flex-direction: column; }
}